<mat-toolbar color="primary" class="mat-elevation-z4">
    <span>
        <span class="title">{{title}}</span>
    </span>
    <span class="spacer"></span>
    <button *ngIf="isAuthenticated$ | async" class="login" mat-mini-fab>
        <button class="profileButton" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
                <mat-icon>person</mat-icon>
                <span>{{loggedInInUser?.userId}}</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </button>
</mat-toolbar>


<div class="container" *ngIf="isAuthenticated$ | async; else elseBlock;">
    <app-user [loggedInInUser]="loggedInInUser" />
</div>
<ng-template #elseBlock>
    <div class="login-container">
        <mat-card>
            <button class="login" (click)="goToLogin()" color="primary">Login</button>
        </mat-card>
    </div>
</ng-template>